{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "unused-imports"],
  "rules": {
    "quotes": ["error", "double"],
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "import/extensions": "warn",
    "import/no-extraneous-dependencies": "warn",
    "react/no-unused-class-component-methods": "warn",
    "class-methods-use-this": "warn",
    "import/no-unresolved": "warn",
    "no-underscore-dangle": "warn",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "camelcase": "warn",
    "eqeqeq": "warn",
    "react/forbid-prop-types": "warn",
    "react/jsx-props-no-spreading": "warn",
    "react/no-unstable-nested-components": "warn",
    "no-magic-numbers": [
      "error",
      {
        "ignoreArrayIndexes": true,
        "ignore": [-1, 0, 1]
      }
    ],
    "import/no-dynamic-require": "warn",
    "no-shadow": "warn",
    "global-require": "warn",
    "no-param-reassign": "warn",
    "react/require-default-props": "warn",
    "react/prop-types": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "import/prefer-default-export": "warn",
    "no-plusplus": "off",
    "no-continue": "off",
    "no-bitwise": "off",
    "no-return-await": "off",
    "no-use-before-define": "off",
    "no-lonely-if": "off",
    "prefer-destructuring": "warn",
    "jsx-a11y/no-noninteractive-element-interactions": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/control-has-associated-label": "warn",
    "jsx-a11y/label-has-associated-control": "warn"
  },
  "ignorePatterns": ["src/__mocks__", "jest-setup.js"]
}
