.tabs {
  font-size: 1.1rem;
  a {
    position: relative;
    text-decoration: none;
    .unreadMessagesBadge {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: orangered;
    }
  }

  :global(li.is-active a) {
    background-color: var(--color_background_light) !important;
    color: var(--color_text_dark) !important;
  }
}
