.simpleHeader,
.customRoomHeader {
  display: flex;
  background-color: white;
  z-index: 1;
  padding: 10px;

  .textWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .title {
      font-size: 22px;
    }
    .subtitle {
      font-size: 14px;
    }
  }
  .controls {
    margin-left: auto;
    top: 3px;
    .close {
      height: 20px;
      width: 20px;
      display: inline-block;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.simpleHeader {
  height: 60px;
  .picWrapper {
    margin-top: -20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    float: left;
    background-color: #eee;

    .pic {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-size: cover;
    }
  }
}
.customRoomHeader {
  height: 80px;
  .picWrapper {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
    background-color: #eee;

    .pic {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-size: cover;
    }
  }
}
