.attendeeInfoContainer {
  position: absolute;
  top: 100px;
  width: 400px;
  height: auto;
  border-radius: 10px;
  z-index: 50;

  .card {
    .img {
      margin: 'auto';
      width: 100%;
      border-radius: 50%;
    }
  }
}
