:root {
  --color_primary: #254586;
  --color_primary_contrast: #396bd0;
  --color_secondary: #93959e;
  --color_secondary_contrast: #babdc8;
  --color_text_dark: #1a1a1a;
  --color_text_light: #3a3a3a;
  --color_background_dark: #fff;
  --color_background_light: #fff;
}

.widgetContainer[data-theme='light'] {
  --color_primary: #254586;
  --color_primary_contrast: #396bd0;
  --color_secondary: #93959e;
  --color_secondary_contrast: #babdc8;
  --color_text_dark: #1a1a1a;
  --color_text_light: #3a3a3a;
  --color_background_dark: #fff;
  --color_background_light: #fff;
}

.widgetContainer[data-theme='dark'] {
  --color_primary: #0088ff;
  --color_primary_contrast: #0085fb;
  --color_secondary: #ff8800;
  --color_secondary_contrast: #fc8500;
  --color_text_dark: #aaa;
  --color_text_light: #fff;
  --color_background_dark: #242424;
  --color_background_light: #4a4a4a;
}
