@import '../../styles/colors.scss';

.outerWrapper {
  position: relative;
  color: var(--color_text_dark);

  .searchWrapper {
    padding: 15px 15px 0 0;

    .searchInput {
      width: 100%;
      border: 1px solid lightgray;
      height: 30px;
      border-radius: 4px;
      padding-left: 10px;
    }
  }
}
