.alertContainer {
  position: absolute;
  top: 1px;
  left: -400px;
  width: 400px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  z-index: 50;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.08), 0 0 8px 1px rgba(0, 0, 0, 0.08);
}

@media (max-width: 800px) {
  .alertContainer {
    top: 30px;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }
}
