.searchBar {
  input {
    color: var(--color_input_text_color); 
    background-color: var(--color_input_background_color);
    border-color: var(--color_input_border_color);
    &::placeholder {
      color: var(--color_text_light);
    }
  }
  .filterButton {
    color: var(--color_input_text_color); 
    background-color: var(--color_input_background_color);
    border-color: var(--color_input_border_color);
  }
}
