.channelPreview {
  position: relative;
  display: flex;

  .pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;

    img {
      width: 50px !important;
      height: 50px !important;
      max-height: unset !important;
      max-width: unset !important;
      border-radius: 50%;
    }

    .status {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      position: absolute;
      bottom: -3px;
      left: 40px;
      z-index: 10;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-weight: 500;
    width: calc(100% - 66px);
    height: 50px;
    margin-right: 15px;
    color: var(--color_text_dark);

    // from conversations
    .name {
      margin-right: 10px;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      max-width: 90%;
      text-overflow: ellipsis;
    }

    .lastMessage {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 90%;
      padding-right: 20px;

      &.unread {
        color: var(--color_primary);
        font-weight: bold;
      }
    }

    .participants {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
    }
  }

  // &.online {
  //   .status {
  //     background-color: #62c400;
  //   }
  // }

  &.offline {
    color: var(--color_text_light);

    // .status {
    //   background-color: #bc0000;
    // }

    .pic:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      //background:rgba(169,169,169,0.6);
      opacity: 1;
      transition: all 1s;
      -webkit-transition: all 1s;
    }
  }

  .channel {
    background-color: var(--color_background_light);
    border: none;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;

    &:focus,
    &:active {
      border: none !important;
    }

    a {
      text-decoration: none !important;
    }

    &:hover {
      background-color: var(--color_background_light);
    }

    .delete {
      position: absolute;
      top: 10px;
      right: 5px;

      &:hover {
        svg {
          fill: var(--color_text_dark);
        }
      }
    }

    .unreadCount {
      position: absolute;
      top: 40%;
      right: 5px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: orangered;

      span {
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}
