.roomsManager {
  $base-color: var(--color_input_text_color); 
  color: $base-color;
  padding: 0 5px 0 5px;
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    .backBtn {
      margin-right: 10px;
    }
    .title {
      color: $base-color;
    }
  }
  .fieldTitle {
    color: $base-color;
    margin-top: 25px;
  }
  .fieldInput {
    margin-top: 5px;
    input {
      color: var(--color_input_text_color); 
      background-color: var(--color_input_background_color);
      border-color: var(--color_input_border_color);
      &::placeholder {
        color: var(--color_text_light);
      }
    }
  }
  .backBtn {
    cursor: pointer;
  }
  .selectedAttendees {
    width: 100%;
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
