.attendeeDetail {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  width: 280px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .lcol {
    display: flex;
    flex: 30%;
  }

  .rcol {
    display: flex;
    flex: 70%;
    justify-content: flex-end;;
  }

  .ctaButton {
    margin-top: 10px;
    background-color: lightgrey;
  }
}
