:root {
  --color_primary: #6D6E71;
  --color_primary50: #6D6E7150;
  --color_secondary: #1EAAA3;
  --color_secondary50: #1EAAA350;
  --color_accent: #FF5E32;
  --color_accent50: #FF5E3250;
  /* LIGHT MODE */
  /*--color_background_light: #FFFFFF;
  --color_background_dark: #000000;
  --color_text_dark: #4A4A4A;
  --color_text_med: #828282;
  --color_text_light: #FFFFFF;
  --color_gray_darker: #4A4A4A;
  --color_gray_dark: #999999;
  --color_gray_light: #DFDFDF;
  --color_gray_lighter: #F2F2F2;
  --color_input_text_color: #000000;
  --color_input_background_color: #FFFFFF;
  --color_input_border_color: #999999;
  */
  /* END LIGHT MODE */
  /* DARK MODE */
  --color_background_light: #000000;
  --color_background_dark: #FFFFFF;
  --color_text_dark: #FFFFFF;
  --color_text_med: #828282;
  --color_text_light: #4A4A4A;
  --color_gray_darker: #F2F2F2;
  --color_gray_dark: #DFDFDF;
  --color_gray_light: #999999;
  --color_gray_lighter: #4A4A4A;
  --color_input_text_color: #FFFFFF !important;
  --color_input_background_color: rgb(24, 26, 27) !important;
  --color_input_border_color:  rgb(58, 63, 65) !important;
  /* END DARK MODE */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color_background_light);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
